/* if I say found online it is because I did but I most likely understand all the code */


body {
    background-color: rgb(239, 220, 171);

    margin:0; /* these fixed some problems I had with the page being off */
    padding:0;

    /* found online to stop error with user being able to scroll to the right for some reason */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.navbar { /* for the top navagation bar */
    background-color: rgb(217, 131, 36);
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 20px;
}

.buttons { /* for the centering of the buttons 
    also needed to make it this way to keep the hover effect*/
    text-align: center;
    padding: 20px;
}

.button { /* for the buttons */
    background-color: rgb(134, 108, 79);
    color: rgb(239, 220, 171);
    text-align: center;
    font-size: 16px;
    cursor: pointer; /* changes the cursor to a pointer when hovering over the button */
    border-radius: 10px;
    border: solid 2px rgb(68, 54, 39);
}

.button:disabled { /* for the button of the webpage the user is on*/
    cursor: not-allowed; /* changes the cursor to like a no state (this will happen when you are on the page you are going to)*/
}

.button:hover { /* hover effect */
    background-color: rgb(95, 75, 55);
    color: rgb(242, 246, 208);
}

.button:active { /* click effect */
    background-color: rgb(149, 123, 92);
    color: rgb(242, 246, 208);
}

.title { /* for the titles of the pages */
    display: block;
    text-align: center;
    margin-left: auto; /* Centers the image by evening it out*/
    margin-right: auto;/* Centers the image by evening it out*/
}

.footer { /* for the bit at the bottom of the page that says rights reserved*/
    background-color: rgb(68, 54, 39);
    width: 100%;
    height: 75px;
    padding: 10px;
    text-align: center;
}

.text-block { /* for the text blocks that have the text in them */
    background-color: rgb(68, 54, 39);
    padding: 20px; /* adds spacing between other stuff around it */
    margin: 20px; /* adds spacing between other stuff around it */
    border-radius: 15px;
    width: 50%;
    text-align: center;
}

.text-colour { /* just the text colour */
    color: rgb(239, 220, 171);
}

.image { /* just for the images */
    display: flex;
    flex-direction: column; /* found online */
}

.image img { /* just for the images */
    padding: 10px;
    background-color: rgb(68, 54, 39);
    margin: 10px;
    border: 1px solid rgb(68, 54, 39);
    border-radius: 30px;
}

.moving-thingy { /* for the marquee */
    background-color: rgb(68, 54, 39);
}

.moving-thingy a { /* for the marquee link */
    color: rgb(239, 220, 171);
    text-underline-offset: 5px; /* hides the underline into the background */
}

.Character-row { /* for the batlle cats to be in rows */
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
}

.Character-row img { /* for the images in the Character-row */
    border-radius: 15px;
    width: 100px;
    height: auto;
}

.character-block {
    background-color: rgb(68, 54, 39);
    padding: 20px; /* adds spacing between other stuff around it */
    margin: 20px; /* adds spacing between other stuff around it */
    border-radius: 15px;

    /* found online makes the text go to the bottom of the div */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}